<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
   <button (click)='redirect()'>redirect</button>
   <button (click)='protegido()'>protegido</button>
   <button (click)='logout()'>logout</button>
</ul>
<router-outlet></router-outlet>
